# PUI Homework 3, assignment 2

In [1]:
__author__ = 'Ruben Hambardzumyan, based on the example created by prof. Federica Bianco'

# Importing the libraries.

from __future__  import print_function, division
import statsmodels.formula.api as smf # To make equations beautiful
import pylab as pl
import pandas as pd
import numpy as np
import os

%matplotlib inline
%pylab inline

# Checking the $PUIDATA environmental variable

if not os.environ.get('PUIDATA'):
    print('The $PUIDATA environmental variable does not exist!')

alpha = 0.05 # Significance level

Populating the interactive namespace from numpy and matplotlib

# 1. The Idea and Null Hypothesis

### Idea: <i> Men are more likely to cycle long distances than women <i/>

### Null Hypothesis: <i>The ratio of women continuously cycling more than 30 minutes over the women that cycle less than 30 minutes is the same or lower than the ratio of men continuously cycling more than 30 minutes over the men cycling less than 30 minutes.</i>

$$
    H_1: \frac{M(T>30)}{M(T<30)}>\frac{W(T>30)}{W(T<30)}
$$

$$
    H_0: \frac{W(T>30)}{W(T<30)}<=\frac{M(T>30)}{M(T<30)}
$$

<b>Or</b>:

$$
    H_1: \frac{M(T>30)}{M(T<30)}-\frac{W(T>30)}{W(T<30)}>0
$$

$$
    H_0: \frac{W(T>30)}{W(T<30)}-\frac{M(T>30)}{M(T<30)}<=0
$$

### The Data: The Citibike data for the month of October 2016 will be used.

# 2. Importing the data.

In [2]:
def getCitibikeData(dsNum):
    os.system("curl -O https://s3.amazonaws.com/tripdata/" + dsNum + "-citibike-tripdata.zip")
    print('downloading...')
    os.system("mv " + dsNum + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
    print('moved!')
    os.system("unzip " + os.getenv("PUIDATA") + "/" + dsNum + "-citibike-tripdata.zip")
    print('unzipped!')
    os.system("mv " + dsNum + "-citibike-tripdata.csv " + os.getenv("PUIDATA")) 
    print('unzip moved!')

In [3]:
dsNum = '201610'
getCitibikeData(dsNum)

downloading...
moved!
unzipped!
unzip moved!

In [4]:
ds = os.environ.get('PUIDATA') + '/' + dsNum + '-citibike-tripdata.csv'

In [5]:
data = pd.read_csv(ds)

In [8]:
df = pd.DataFrame(data)
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,328,2016-10-01 00:00:07,2016-10-01 00:05:35,471,Grand St & Havemeyer St,40.712868,-73.956981,3077,Stagg St & Union Ave,40.708771,-73.950953,25254,Subscriber,1992.0,1
1,398,2016-10-01 00:00:11,2016-10-01 00:06:49,3147,E 85 St & 3 Ave,40.778012,-73.954071,3140,1 Ave & E 78 St,40.771404,-73.953517,17810,Subscriber,1988.0,2
2,430,2016-10-01 00:00:14,2016-10-01 00:07:25,345,W 13 St & 6 Ave,40.736494,-73.997044,470,W 20 St & 8 Ave,40.743453,-74.000040,20940,Subscriber,1965.0,1
3,351,2016-10-01 00:00:21,2016-10-01 00:06:12,3307,West End Ave & W 94 St,40.794165,-73.974124,3357,W 106 St & Amsterdam Ave,40.800836,-73.966449,19086,Subscriber,1993.0,1
4,2693,2016-10-01 00:00:21,2016-10-01 00:45:15,3428,8 Ave & W 16 St,40.740983,-74.001702,3323,W 106 St & Central Park West,40.798186,-73.960591,26502,Subscriber,1991.0,1

In [9]:
# Removing unneccessary columns and leaving only the trip duration and gender

df = df.drop(['Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 
        'End Station ID', 'End Station Name', 'End Station Latitude', 'End Station Longitude', 'Bike ID', 
        'User Type', 'Birth Year', 'Start Time'], axis=1)

In [10]:
df[:10]

   Trip Duration  Gender
0            328       1
1            398       2
2            430       1
3            351       1
4           2693       1
5            513       1
6            601       2
7            563       1
8            439       1
9            269       2

In [11]:
# Making seconds minutes

df['Trip Duration'] = (df['Trip Duration'] / 60).T

In [12]:
df.head() # Final table containing Trip durations for both male and female

   Trip Duration  Gender
0       5.466667       1
1       6.633333       2
2       7.166667       1
3       5.850000       1
4      44.883333       1

In [ ]:
"""# Creating variables for summing up the trips
dsmanmore30 = df[(df['Trip Duration'] >= 30) & (df['Gender'] == 1)]
dsmanless30 = df[(df['Trip Duration'] < 30) & (df['Gender'] == 1)]

dswomanmore30 = df[(df['Trip Duration'] >= 30) & (df['Gender'] == 2)]
dswomanmore30 = df[(df['Trip Duration'] < 30) & (df['Gender'] == 2)]"""