# PUI Homework 3, assignment 3

In [4]:
__author__ = 'Ruben Hambardzumyan'

# Importing the libraries

from __future__ import print_function
import statsmodels.formula.api as smf  # To make equations beautiful
import math                            # For square rooting
import pylab as pl
import numpy as np
import pandas as pd

# Significance level

alpha = 0.05

### Idea: is the new bus route improving commute?

<b>Hypothesis $H_1$:</b> Commuting time using the new bus line is <i>less</i> than before.

<b>Null Hypothesis $H_0$:</b> Commuting time using the new bus line is <i>the same or higher</i> than before.

$$
H_1 -> NewTime - OldTime < 0
$$

$$
H_0 -> NewTime - OldTime >= 0
$$

In [5]:
# Parsing the data from GitHub

nTime = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab3_fb55/times.txt', header = None)

In [6]:
nTime.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [7]:
nTime.describe()

                0
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877

Calculating the Z statistics by using the equation below:

$$
Z = \frac{\mu_{pop} - \mu_{sample}}{\sigma / \sqrt{N}}
$$

In [8]:
# The mean of old time is 36 minutes
# The standard deviation of old time is 6 minutes
# The number of observations is 100

zStat = (36 - nTime.mean()) / (6 /math.sqrt(100))

print(zStat)

0    2.556397
dtype: float64

### Conclusion

<p>Since the Z-test has shwon a z-score to be equal to 2.55, we can say that the Null Hypothesis is rejected, as the z-score is not less than the significance alpha coefficient, which is 0.05 (5% of the initial time). Therefore, the new bus route has indeed improved the commute time.